h1
{
    text-align: center;
}

form, .msg
{
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
}

label
{
    width: 200px;
    text-align: right;
    padding-right: 20px;
}

input[type="text"], input[type="email"]
{
    width: 200px;
}

textarea
{
    
}

button
{
    margin-top: 20px;
}

.required{
    background-color: #F2BDCA;
}

.field{
    width: 200px;
    text-align: right;
    padding-right: 20px;
    float: left;
}

.value{
}

br{
    clear: both;
}

.detail{
    padding-top: 30px;
}

.ckeditor_required{
	border: 1px solid red !important;
}